#works {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 3rem;
    margin-bottom: 25rem;
}

.portfolio-title {
    font-size: calc(4rem + 1.5vw)
}

.portfolio-yellow {
    color: yellow;
}

.all-projects-purple {
    color: #9237a9; 
    font-weight: 500;
}


.portfolio-intro {
    font-weight: 300;
    font-size: 2rem;
    max-width: 100%;
    width: 80%;
    margin-bottom: 3rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem;
    width: 100%; 
    margin: 0 auto;
} 


/* Container */
 .project-container {
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 100%; 
    transition: box-shadow 0.3s;
    height: 0; 
    padding-bottom: 56.25%; 
}

.project-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}

.project-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 20px;
   
}

.project-container:hover .project-info-container {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.project-info-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2E1E41;
    opacity: 0.8;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
    transition: opacity 0.3s, visibility 2s, transform 0.3s; 
}

.project-info-container h3  {
    font-size: calc(1rem + 1vw);
    font-weight: 600;
    color: white;
}

.project-info-container p {
    font-size: calc(0.6rem + 1vw);
    color: rgba(255, 255, 255, 0.787); 
    margin-bottom: 2rem;
}

.project-container:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); 
}

.project-info-container button {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    border: 2px solid white; 
    border-radius: 20px;
    font-size: calc(0.5rem + 1vw);
    color: white; 
    background-color: transparent;
    cursor: pointer; 
    text-decoration: none; 
    font-weight: bold;
    transition: background-color 0.3s;
}

.project-info-container button:hover {
    background-color: #faf9f7; 
    color: black;
}

.all-projects-button {
    margin-top: 4rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    border: 2px solid  #9237a9; 
    border-radius: 25px;
    color: white; 
    background-color: transparent;
    cursor: pointer; 
    text-decoration: none; 
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 0 0 0.5rem #9237a9; 
    font-size: 1.5rem;
}

.all-projects-button:hover {
    background-color: #faf9f7; 
    color: black;
}






 @media (max-width: 1750px){
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 2rem;
        width: 100%; 
        margin: 0 auto;
    }
} 


@media (max-width: 768px) {
    #works {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-bottom: 30rem;
        width: 100vw;
        height: 100%;
    }

    #works h2 {
        margin-bottom: 1vh;
        font-size: 9vw;
    }
    
    .portfolio-intro {
        font-weight: 300;
        font-size: 3.5vw;
        max-width: 90vw;
        width: 90%;
        margin-bottom: 2rem;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 2vh;
        width: 100%;
        height: 100%;
    }

    .project-container {
        background-color: rgb(50, 50, 50);
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        transition: box-shadow 0.3s;
        width: 100%;
        height: 30vh;
    }
    
    .project-image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
    }
    
    .project-image {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        border-radius: 20px;
        border: 1px solid #2E1E41; 
    }

    
    .all-projects-button {
        margin-top: 4vh;
        padding-top: 1.2vh;
        padding-left: 2.1vw;
        padding-bottom: 1.4vh;
        padding-right: 2.1vw;
        border: 1px solid  #9237a9; 
        border-radius: 20px;
        font-size: 3vw;
    }

    
    .project-info-container h3  {
        font-size: 2rem;
        font-weight: 600;
        color: white;
    }

    .project-info-container p {
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.787); 
        margin-bottom: 2rem;
    }

    .project-container:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); 
    }

    .project-info-container button {
        padding-top: 1rem;
        padding-left: 2rem;
        padding-bottom: 1rem;
        padding-right: 2rem;
        border: 2px solid white; 
        border-radius: 20px;
        font-size: 1.2rem;
        color: white; 
        background-color: transparent;
        cursor: pointer; 
        text-decoration: none; 
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .project-info-container button:hover {
        background-color: #faf9f7; 
        color: black;
    }
    
} 

@media (max-width: 500px) {
    #works {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 2vw;
        padding-right: 2vw;
        margin-bottom: 30rem;
        width: 100vw;
        height: 100%;
    }

    #works h2 {
        margin-bottom: 1vh;
        font-size: 12vw;
    }
    
    .portfolio-intro {
        text-align: left;
        font-weight: 300;
        font-size: 1.5rem;
        max-width: 90vw;
        width: 90%;
        margin-bottom: 2rem;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 2vh;
        width: 100%;
        height: 100%;
    }

    .project-container {
        background-color: rgb(50, 50, 50);
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        transition: box-shadow 0.3s;
        width: 100%;
        height: 30vh;
    }
    
    .project-image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
    }
    
    .project-image {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        border-radius: 20px;
        border: 1px solid #2E1E41; 
    }

    
    .all-projects-button {
        margin-top: 4vh;
        padding-top: 1.2vh;
        padding-left: 2.1vw;
        padding-bottom: 1.4vh;
        padding-right: 2.1vw;
        border: 1px solid  #9237a9; 
        border-radius: 20px;
        font-size: 1.3rem;
    }

    
    .project-info-container h3  {
        font-size: 2rem;
        font-weight: 600;
        color: white;
    }

    .project-info-container p {
        font-size: 1.5rem;
        color: rgba(255, 255, 255, 0.787); 
        margin-bottom: 2rem;
    }

    .project-container:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); 
    }

    .project-info-container button {
        padding-top: 1rem;
        padding-left: 2rem;
        padding-bottom: 1rem;
        padding-right: 2rem;
        border: 2px solid white; 
        border-radius: 20px;
        font-size: 1.2rem;
        color: white; 
        background-color: transparent;
        cursor: pointer; 
        text-decoration: none; 
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .project-info-container button:hover {
        background-color: #faf9f7; 
        color: black;
    }
    
} 