
.projectMockupsThree {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 90vh;
  margin-top: 2vh;
  width: 100%;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100%;
    width: 50%;
  }
  
  .right {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    justify-content: center;
  }
  
  .mockupTextContainer {
    border-radius: 20px;
    width: 60%;
  }

  .mockupTextContainer h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .mockupImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 
    -5px 0px 10px #c9b5cf;
  }
  @media (max-width: 1330px){
    .projectMockupsThree {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 100%;
      margin-top: 2rem;
    }
  
    .left {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center;
      height: 30%;
      width: 100%;
    }
    
    .right {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center;
      height: 90%;
      width: 100%;
      margin-bottom: 2rem;
    }
    
    .mockupTextContainer {
      padding: 2rem;
      margin-bottom: 2rem; 
      margin-left: 2rem;
      width: 80%;
    }
  
    .mockupTextContainer h2 {
      font-size: calc(2rem + 1.4vw);
      margin-bottom: 2rem;
    }
  
    .mockupImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 
      -5px 0px 10px #c9b5cf;
    }
  }

  @media (max-width: 768px)  {
    .projectMockupsThree {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 100%;
      margin-top: 2rem;
    }
  
    .left {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center;
      height: 30%;
      width: 100%;
    }
    
    .right {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center;
      height: 50vh;
      width: 95%;
      margin-bottom: 2rem;
    }
    
    .mockupTextContainer {
      padding: 2rem;
      margin-bottom: 2rem; 
      margin-left: 2rem;
      width: 80%;
    }
  
    .mockupTextContainer h2 {
      font-size: calc(1.3rem + 1.4vw);
      margin-bottom: 0;
    }
  
    .mockupImage {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 
      -5px 0px 10px #c9b5cf;
    }
    
  }
  
  @media (max-width: 425px)  {
    .projectMockupsThree {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
    }
  
    .left {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center;
      height: 40vh;
      width: 100vw;
    }
    
    .right {
      width: 95vw;
      height: 60vh;
      display: flex;
      flex-direction: column;
      align-items: flex-end; 
      justify-content: center;
      margin-bottom: 10vh;
    
    }
    
    .mockupTextContainer {
      border-radius: 20px;
      padding: 2vw;
      margin-bottom: 2vw; 
      margin-left: 2vw;
      width: 65vw;
    }
  
    .mockupTextContainer h2 {
      font-size: 5vw;
    }
  
    .mockupImage {
      width: 100%;
      height: 60vh;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 
      -2px 0px 10px #c9b5cf;
    }
    
  }