
  #intro {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-direction: row;
    text-align: left;
    box-sizing: border-box; 
    overflow: hidden; 
    border: 3px solid white;
 
  }
  
  .background-image {
    object-fit: cover;
    object-position: 10% 40%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}
  
  .intro-left {
    min-width: 50%;
    min-height: 100%; /* Ensure the container takes up at least the full height */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro-text-container {
    width: 80%;
    min-width: 80%;
    min-height: 40%; /* Use min-height to prevent container from becoming too small */
  }

  .hello {
    font-size: calc(4rem + 1.5vw); /* Responsive font size */
    font-weight: bold;
    line-height: 1.2; 
  }


  .intro-text-container h2 {
    font-size: calc(1rem + 1.5vw); /* Responsive font size */
  }
  
  
  .name {
    color: yellow;
  }
  
  .intro-description {
    font-size: calc(0.5rem + 1vw); /* Responsive font size */
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .intro-social-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin-top: 2rem; /* Ensure this margin is sufficient to prevent overlap */
  }
  
  
  .intro-social-links img {
    height: 4.5vh;
    margin-right: 1.5vw;
  }

  .intro-right {
    min-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .profile-picture-container {
    width: 70%;
    padding-top: 70%; 
    position: relative;
  }


  .profile-picture {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    border-radius: 50%;
    width: 100%; 
    height: auto; 
    object-fit: cover;
    border: 3px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }


  @media (max-width: 1464px){
    #intro {
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center; 
      flex-direction: column;
      text-align: left;
      box-sizing: border-box; 
      overflow: hidden; 
    }

      
  .intro-left {
    min-width: 100%;
    min-height: 60%; /* Ensure the container takes up at least the full height */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .intro-text-container {
    width: 80%;
    min-width: 80%;
    min-height: 40%; /* Use min-height to prevent container from becoming too small */
  }

  
  .name {
    color: yellow;
  }
  
  .intro-description {
    font-size: 2rem; 
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .intro-social-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin-top: 2rem; /* Ensure this margin is sufficient to prevent overlap */
  }
  
  
  .intro-social-links img {
    height: 4.5vh;
    margin-right: 3rem;
  }

  .intro-right {
    order: -1;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-picture-container {
    width: 50%;
    padding-top: 50%; /* Adjusted from 75% to 50% */
    position: relative;
  }

    .profile-picture {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      width: 100%; /* Full width of the container */
      height: auto; /* Height automatically adjusts to maintain aspect ratio */
      object-fit: cover;
      border: 3px solid rgba(255, 255, 255, 0.4);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

  }

@media (max-width: 768px) {
  #intro {
    position: relative;
    width: 100vw; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    flex-direction: column;
    margin-bottom: 30vh;
  }

  .intro-left {
    width: 100%;
    height: 50%; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .intro-text-container {
    width: 80%;
    min-width: 80%;
    max-height: 100%; 
  }

  .hello {
    font-size: calc(4.5rem + 1.5vw); 
    font-weight: bold;
    line-height: 1.2; 
  }


  .intro-text-container h2 {
    font-size: calc(2.5rem + 1.5vw); 
  }
  
  .name {
    color: yellow;
  }
  
  .intro-description {
    font-size: calc(1.2rem + 1vw);
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .intro-social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 2rem; 
  }
  
  
  .intro-social-links img {
    height: 4.5vh;
    margin-right: 1.5vw;
  }

  .intro-right {
      width: 100%;
      height: 50vh; 
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .profile-picture-container {
    width: 70%; /* Adjusted for visibility */
    padding-top: 70%; /* Keep it square */
    position: relative;
    margin: auto; /* Center the container */
  }


  .profile-picture {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 500px) {
  #intro {
    position: relative;
    width: 100vw; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    flex-direction: column;
    margin-bottom: 30vh;
  }

  .intro-left {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
  }

  .intro-text-container {
    width: 90%;
    min-width: 80%;
    max-height: 100%; 
  }

  .hello {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1.2; 
  }


  .intro-text-container h2 {
    font-size: calc(2.5rem + 1.5vw); 
  }
  
  .name {
    color: yellow;
  }
  
  .intro-description {
    font-size: calc(1.2rem + 1vw);
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .intro-social-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 2rem; 
  }
  
  
  .intro-social-links img {
    height: 4.5vh;
    margin-right: 1.5vw;
  }

  .intro-right {
      width: 100%;
      height: 30vh; 
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
  }

  .profile-picture-container {
    width: 90%; /* Adjusted for visibility */
    padding-top: 90%; /* Keep it square */
    position: relative;
    margin: auto; /* Center the container */
  }


  .profile-picture {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
}