@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}

body {
  background: #010B1B;
  color: white;
  overflow: hidden;
  overflow-y: scroll; 
  height: 100%; 
}

/* Defining global color variables */
:root {
  --portfolio-yellow: yellow; 
  --portfolio-purple: #9237a9; 
  --page-margin-bottom: 20vh;
  --section-h1-fs: 5rem;
  --section-h2-fs: 3rem;
  --section-h3-fs: 2rem;
  --section-p-fs: 1.8rem;
}

@media (max-width: 768px) {
  :root {
    --portfolio-yellow: yellow; 
    --portfolio-purple: #9237a9; 
    --page-margin-bottom: 20vh;
    --section-h1-fs: 7rem;
    --section-h2-fs: 5rem;
    --section-h3-fs: 3rem;
    --section-p-fs: 2rem;
  }
}

@media (max-width: 425px) {
  :root {
    --portfolio-yellow: yellow; 
    --portfolio-purple: #9237a9; 
    --page-margin-bottom: 20vh;
    --section-h1-fs: 6rem;
    --section-h2-fs: 4.5rem;
    --section-h3-fs: 3rem;
    --section-p-fs: 2rem;
  }
}