.experienceContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin-bottom: 30em;
  }

  .experienceTextContainer {
    padding: 1.5em;
    width: 100%;
  }

  .leftRightContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align items to the start */
    justify-content: flex-start;
    flex-wrap: wrap;
  }


.experienceLeft {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    min-height: 100%;
    width: 60%;
    min-width: 40%;
   
  }
  
  .experienceRight {
    width: 40%;
    max-width: 40%;
    min-height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
  }
  
 
  .experienceYellow {
    color: yellow;
  }

  .experienceTextContainer h2 {
    font-size: var(--section-h1-fs);
  }

  .levelUpImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    max-height: 70vh;
  }

  .levelUpImage {
    width: 100%; 
    height: 100%; 
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
    filter: drop-shadow(0px 2px 5px rgb(226, 225, 219));
  } 
  
  
  
  /* Experience Card */
  .experienceCard {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-top: 1em; 
    padding-bottom: 1em; 
    margin-bottom: 1em; 
    background: transparent;
  
  }

  .cardLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 20%;
    min-height: 100%;
    padding-left: 2em;
  }

  .cardLeft p {
    font-size: var(--section-p-fs);
    font-weight: 200;
  }


  .cardRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .companyRow {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    margin-bottom: 1.2em;
  }

  .companyRow h2 {
    font-size: var(--section-h2-fs);
    font-weight: 800;
    color: yellow;
    margin-right: 1em;
  }

  .companyRoleContainer {
    height: 100%;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.5%;
  }

  .companyRoleContainer h3 {
    font-size: var(--section-h3-fs);
    font-weight: 500;
   
  }

  .companyWebsiteContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.5%;
    text-decoration: none;
  }

  .companyWebsiteContainer p {
    font-size: var(--section-p-fs);
    color: white;
    text-decoration: none;
  }

  .reponsibility {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .responsibilityContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .responsibilityContainer p {
    font-size: var(--section-p-fs);
    font-weight: 300;
  }


  .techTags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    margin-top: 2em;
  }

  .techTagContainer {
    border:  1px solid #9237a9;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 20px;
    margin-right: 1.4em;
    box-shadow: 0 0 0.6rem #2E1E41;
    width: 12em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .techTagContainer p {
    font-size: var(--tags-fs);
    color: yellow;
    font-weight: 500;
  }


  @media (max-width: 2030px) {
    .techTags {
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      gap: 2em;
      width: 100%; 
      margin: 2 auto;
    }
  
  }


  @media (max-width: 1760px) {
    .experienceContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      width: 100%;
      margin-bottom: 30em;
    }
  
    .experienceTextContainer {
      padding: 1.5em;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
    .leftRightContainer {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
  
  .experienceLeft {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: flex-start;
      height: 100%;
      width: 100%;
    }
    
    .experienceRight {
      display: none;
    }
  
    .experienceYellow {
      color: yellow;
    }


    .companyRoleContainer {
      height: 100%;
      margin-right: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 0%;
      padding-top: 0.5%;
    }
  
  
    .companyWebsiteContainer{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 1%;
      padding-bottom: 0%;
    }
  

  }



  @media (max-width: 1000px) {
    .experienceContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 100vw;
      margin-bottom: 20em;
    }
  
    .experienceTextContainer {
      max-width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .leftRightContainer {
      height: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
  
  .experienceLeft {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center;
      height: 100%;
      width: 100vw;
      padding-left: 2em;
    }
    
    .experienceRight {
      display: none;
    }
    .experienceCard {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      padding-top: 1em; 
      padding-bottom: 1em; 
      margin-bottom: 1em; 
      background: transparent;
    }
  
    .cardRight {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  
    .companyRow {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-start;
      width: 100%;
      height: auto;
      margin-bottom: 1.2em;
    }
  
    .companyRoleContainer {
      height: 100%;
      margin-right: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .companyWebsiteContainer{
     display: none;
    }
  
    .companyWebsiteContainer p {
     display: none;
    }

    .timeFrameContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-bottom: 0.5eem;
    }


    .timeFrame {
      font-size: var(--section-p-fs);
      font-weight: 500;
    }
  
    .reponsibility {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }
  
    .responsibilityContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
    }
  
    .techTags {
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      gap: 2em;
      width: 100%; 
      margin: 2 auto;
      padding-right:2em;
    }

    .techTagContainer {
      border:  1px solid #9237a9;  
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      border-radius: 20px;
      margin-right: 1.4em;
      box-shadow: 0 0 0.6rem #2E1E41;
      width: 12em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  
  }


  @media (max-width: 425px) {
    .experienceContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
      margin-bottom: 20em;
    }
  
    .experienceTextContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

  
    .leftRightContainer {
      height: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  
  
  .experienceLeft {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center;
      height: 100%;
      width: 100vw;
      padding-left: 4em;
    }
    
    .experienceRight {
      display: none;
    }
  
    .experienceYellow {
      color: yellow;
    }

    .experienceCard {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding-top: 1em; 
      padding-bottom: 1em; 
      margin-bottom: 2em; 
      background: transparent;
    }
  
    .cardRight {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
  
    .companyRow {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: flex-start;
      width: 100%;
      height: auto;
      margin-bottom: 1.2em;
    }

    .companyRoleContainer {
      height: 100%;
      margin-right: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  

    .timeFrameContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-bottom: 0.5em;
    }

  
    .reponsibility {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    }
  
    .responsibilityContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 90%;
    }
  
    .techTags {
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      gap: 2rem;
      width: 100%; 
      margin: 2 auto;
      padding-right:2vw;
    }

    .techTagContainer {
      border:  1px solid #9237a9;  
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      border-radius: 20px;
      margin-right: 1.4em;
      box-shadow: 0 0 0.6em #2E1E41;
      width: 12em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  
  
  }