
.project-mockups-second {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 90vh;
  margin-top: 2vh;
  width: 100%;
  }


  /* TWO MOCKUP IMAGES */
.project-two-mockups-left {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100%;
    width: 50%;
  }
  
  .project-two-mockups-right {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding-right: 1rem; 
  }

  .project-two-mockups-text-container {
    border-radius: 20px;
    width: 75%;
  }

  .project-two-mockups-text-container h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .project-two-mockup-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 
    5px 0px 10px #864297
  }
  
.solution {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1.2rem;
  letter-spacing: 5px;
}

.solution-description {
  font-size: 2.2rem;
    font-weight: 200;
}

@media (max-width: 1330px) {
  .project-mockups-second {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 2rem;
  }

  .project-two-mockups-left {
     display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center;
      height: 80%;
      width: 90%;
  }
  
  .project-two-mockups-right {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    order: -1;
  }

  .project-two-mockups-text-container {
    padding: 2rem;
    margin-bottom: 2rem; 
    margin-left: 2rem;
    width: 80%;
  }

  .project-two-mockups-text-container h2 {
    font-size: calc(3rem + 1.4vw);
    margin-bottom: 2rem;
  }

  .project-two-mockup-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 
    -5px 0px 10px #c9b5cf;
  }
  
  .solution {
    font-size: calc(1.3rem + 1.3vw);
        font-weight: 300;
        margin-bottom: 1.2rem;
        letter-spacing: 5px;
  }

  .solution-description {
    font-size: calc(1rem + 1vw);
    font-weight: 200;
  }
}




@media (max-width: 768px)  {
  .project-mockups-second {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 2rem;
  }

  .project-two-mockups-left {
     display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: center;
      width: 95%;
      height: 50vh;
  }
  
  .project-two-mockups-right {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    order: -1;
  }

  .project-two-mockups-text-container {
    padding: 2rem;
    margin-bottom: 2rem; 
    margin-left: 2rem;
    width: 80%;
  }

  .project-two-mockups-text-container h2 {
    font-size: calc(2rem + 1.4vw);
    margin-bottom: 2rem;
  }

  .project-two-mockup-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 
    -5px 0px 10px #c9b5cf;
  }
  
  .solution {
    font-size: calc(1rem + 1.3vw);
    font-weight: 300;
    margin-bottom: 1.2rem;
    letter-spacing: 5px;
  }

  .solution-description {
    font-size: calc(1rem + 1vw);
    font-weight: 200;
  }
  
}


@media (max-width: 425px)  {
  .project-mockups-second {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  .project-two-mockups-left {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 50vh;
    width: 100vw;
  }
  
  .project-two-mockups-right {
    width: 70vw;
    order: -1;
  }

  .project-two-mockups-text-container {
    padding: 2vw;
    margin-bottom: 2vw; 
    margin-left: 2vw;
    width: 60vw;
  }

  .project-two-mockups-text-container h2 {
    font-size: 5vw;
    margin-bottom: 2vh;
  }

  .project-two-mockup-image {
    width: 90%;
    height: 80vh;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 
    3px 0px 5px #864297
  }
  
.solution {
  font-size: 8vw;
  font-weight: 300;
  margin-bottom: 1.2vh;
  letter-spacing: 5px;
}

.solution-description {
  font-size: 3.5vw;
  font-weight: 200;
}
  
}