#allProjects {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5rem 5%;
    margin-bottom: 5rem;
    width: 100%;
}

.background-image-allprojects {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100%; 
    object-fit: fill; 
    z-index: -1; 
}

.allProjects-intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50vh;
    width: 100%;
    margin-bottom: 2rem;
}

.intro-container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    justify-content: center;
    height: 80%;
    min-height: 80%;
    min-width: 50%;
    padding-right: 2rem;
}

.ap-profile-container {
    width: 45%;
    padding-top: 45%; 
    position: relative;
}

.intro-profile-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); 
    border-radius: 50%;
    width: 100%; 
    height: auto; 
    object-fit: cover;
    border: 3px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.intro-container-right {
    width: 50%;
    min-width: 50%;
    height: 50vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center;
    padding-left: 2rem;
    
}



.all-projects-intro-text-container {
    text-align: left;
}

.all-projects-intro-text-container h2{
   font-size: calc(1.7rem + 1.5vw)
}

.all-projects-intro-text-container h3{
    font-size: calc(1rem + 1vw)
}

.buttons-row-container {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center; 
    justify-content: flex-start;
    margin-right: 2rem;
}

.get-in-touch {
    padding-top: 1rem;
    padding-left: 1.3rem;
    padding-bottom: 1rem;
    padding-right: 1.3rem;
    border: 2px solid #9237a9; 
    border-radius: 20px;
    font-size: 1.2rem;
    color: white; 
    background-color: transparent;
    cursor: pointer; 
    text-decoration: none; 
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 1rem;
    margin-right: 1rem;
    color: yellow;
}


.get-in-touch:hover {
    background-color: #faf9f7; 
    color: black;
    border: 2px white;
}



/* GRID */
.all-projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem;
    width: 100%; 
    margin: 0 auto;
}

.all-project-container {
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 100%; 
    transition: box-shadow 0.3s;
    height: 0; 
    padding-bottom: 56.25%; 
}

.all-project-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}


.all-project-image {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 20px;/* Keep the rounded corners */
   
}

.all-project-container:hover .all-project-info-container {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.all-project-info-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2E1E41;
    opacity: 0.8;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
    transition: opacity 0.3s, visibility 2s, transform 0.3s; 
}

.all-project-info-container h3  {
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.all-project-info-container p {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.787); 
    margin-bottom: 1rem;
}

.all-project-container:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); 
}

.all-project-info-container button {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    border: 2px solid white; 
    border-radius: 20px;
    font-size: 1.2em;
    color: white;
    background-color: transparent;
    cursor: pointer; 
    text-decoration: none; 
    font-weight: bold;
    transition: background-color 0.3s;
}

.all-project-info-container button:hover {
    background-color: #faf9f7; 
    color: black;
}

@media (max-width: 1750px){
    .all-projects-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 2rem;
        width: 100%; 
        margin: 0 auto;
    }

    .ap-profile-container {
        width: 75%;
        padding-top: 75%; 
        position: relative;
    }
    
    .intro-profile-image {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%); 
        border-radius: 50%;
        width: 100%; 
        height: auto; 
        object-fit: cover;
        border: 3px solid rgba(255, 255, 255, 0.4);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

  

} 




@media (max-width: 768px) {
    .allProjects-intro-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 40vh;
        width: 90vw;
        margin-top: 2vh;
        margin-bottom: 5vh;
    }
    
    .intro-container-left {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        height: 100%;
        width: 100%;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    
    .intro-profile-image {
        border-radius: 50%;
        width: 100%;
        height: 90%;
        object-fit: cover;
        border: 3px solid rgba(255, 255, 255, 0.4);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
    
    .intro-container-right {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        margin-left: 2vw;
        
    }
    
    .all-projects-intro-text-container {
        text-align: left;
    }
    
    .all-projects-intro-text-container h2{
       font-size: 3rem;
    }
    
    .all-projects-intro-text-container h3{
        font-size: 1.5rem;
    }
    
    .buttons-row-container {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: center;
        margin-right: 2vw;
        width: 100%
    }
    
    .get-in-touch {
        padding-top: 1vh;
        padding-left: 1.3vw;
        padding-bottom: 1vh;
        padding-right: 1.3vw;
        border: 2px solid #9237a9; 
        border-radius: 20px;
        font-size: 1.2rem;
        color: white; 
        background-color: transparent;
        cursor: pointer; 
        text-decoration: none; 
        font-weight: bold;
        transition: background-color 0.3s;
        margin-top: 1vh;
        margin-right: 3vw;
        color: yellow;
    }
    
    
    .get-in-touch:hover {
        background-color: #faf9f7; 
        color: black;
        border: 2px white;
    }

    /* GRID */
    .all-projects-grid {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 2vh;
        width: 100%;
        height: 100%;
    }

    .all-project-container {
        background-color: rgb(50, 50, 50);
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        width: 100%; 
        transition: box-shadow 0.3s;
    }
    
    .all-project-image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
    }
    
    
    .all-project-image {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        border-radius: 20px;/* Keep the rounded corners */
       
    }
    
    .all-project-container:hover .all-project-info-container {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    
    .all-project-info-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #2E1E41;
        opacity: 0.8;
        color: white;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20%);
        transition: opacity 0.3s, visibility 2s, transform 0.3s; 
    }
    
    .all-project-info-container h3  {
        font-size: 2rem;
        font-weight: 600;
    }
    
    .all-project-info-container p {
        font-size: 1.4rem;
        color: rgba(255, 255, 255, 0.787); 
        margin-bottom: 1rem;
    }
    
    .all-project-container:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); 
    }
    
    .all-project-info-container button {
        padding-top: 0.5rem;
        padding-left: 1.5rem;
        padding-bottom: 0.5rem;
        padding-right: 1.5rem;
        border: 2px solid white; 
        border-radius: 15px;
        font-size: 1.2rem;
        color: white;
        background-color: transparent;
        cursor: pointer; 
        text-decoration: none; 
        font-weight: bold;
        transition: background-color 0.3s;
    }
    
    .all-project-info-container button:hover {
        background-color: #faf9f7; 
        color: black;
    }
    
    
}

@media (max-width: 500px) {
    .allProjects-intro-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 40vh;
        width: 100vw;
        margin-top: 2vh;
        margin-bottom: 5vh;
    }
    
    .intro-container-left {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        height: 100%;
        width: 100%;
        padding-left: 1vw;
        padding-right: 1vw;
    }
    
    .intro-profile-image {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 3px solid rgba(255, 255, 255, 0.4);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }
    
    .intro-container-right {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        margin-left: 2vw;
        margin-bottom: 3rem;
    }
    
    .all-projects-intro-text-container {
        text-align: left;
    }
    
    .all-projects-intro-text-container h2{
       font-size: 3rem;
    }
    
    .all-projects-intro-text-container h3{
        font-size: 1.5rem;
    }
    
    .buttons-row-container {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 2vw;
        width: 100%
    }
    
    .get-in-touch {
        padding-top: 1rem;
        padding-left: 1.3rem;
        padding-bottom: 1rem;
        padding-right: 1.3rem;
        border: 2px solid #9237a9; 
        border-radius: 20px;
        font-size: 1.2rem;
        color: white; 
        background-color: transparent;
        cursor: pointer; 
        text-decoration: none; 
        font-weight: bold;
        transition: background-color 0.3s;
        margin-top: 1rem;
        margin-right: 1.5rem;
        color: yellow;
    }
    
    
    .get-in-touch:hover {
        background-color: #faf9f7; 
        color: black;
        border: 2px white;
    }

    /* GRID */
    .all-projects-grid {
        display: grid;
        grid-template-columns: 1fr; 
        gap: 2vh;
        width: 100%;
        height: 100%;
    }

    .all-project-container {
        background-color: rgb(50, 50, 50);
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        width: 100%; 
        transition: box-shadow 0.3s;
    }
    
    .all-project-image-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; 
    }
    
    
    .all-project-image {
        width: 100%;
        height: 100%; 
        object-fit: cover;
        border-radius: 20px;/* Keep the rounded corners */
       
    }
    
    .all-project-container:hover .all-project-info-container {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    
    .all-project-info-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #2E1E41;
        opacity: 0.8;
        color: white;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20%);
        transition: opacity 0.3s, visibility 2s, transform 0.3s; 
    }
    
    .all-project-info-container h3  {
        font-size: 2rem;
        font-weight: 600;
    }
    
    .all-project-info-container p {
        font-size: 1.4rem;
        color: rgba(255, 255, 255, 0.787); 
        margin-bottom: 1rem;
    }
    
    .all-project-container:hover {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); 
    }
    
    .all-project-info-container button {
        padding-top: 0.5rem;
        padding-left: 1.5rem;
        padding-bottom: 0.5rem;
        padding-right: 1.5rem;
        border: 2px solid white; 
        border-radius: 15px;
        font-size: 1.2rem;
        color: white;
        background-color: transparent;
        cursor: pointer; 
        text-decoration: none; 
        font-weight: bold;
        transition: background-color 0.3s;
    }
    
    .all-project-info-container button:hover {
        background-color: #faf9f7; 
        color: black;
    }
    
    
}